@import 'normalize';

$col-blue-50: #E3F2FD;
$col-blue-100: #BBDEFB;
$col-blue-200: #90CAF9;
$col-blue-300: #64B5F6;
$col-blue-400: #42A5F5;
$col-blue-500: #2196F3;
$col-blue-600: #1E88E5;
$col-blue-700: #1976D2;
$col-blue-800: #1565C0;
$col-blue-900: #0D47A1;
$col-blue-a100: #82B1FF;
$col-blue-a200: #448AFF;
$col-blue-a400: #2979FF;
$col-blue-a700: #2962FF;

html, body {
  height: 100%;
  max-height: 100vh;
}

.bg-col-50 {
  background-color: $col-blue-50;
}
.bg-col-100 {
  background-color: $col-blue-100;
}
.bg-col-200 {
  background-color: $col-blue-200;
}
.bg-col-300 {
  background-color: $col-blue-300;
}
.bg-col-400 {
  background-color: $col-blue-400;
}
.bg-col-500 {
  background-color: $col-blue-500;
}
.bg-col-600 {
  background-color: $col-blue-600;
}
.bg-col-700 {
  background-color: $col-blue-700;
}
.bg-col-800 {
  background-color: $col-blue-800;
}
.bg-col-900 {
  background-color: $col-blue-900;
}

@mixin flex-x {
  display: flex;
  flex-direction: row;
}

@mixin flex-y {
  display: flex;
  flex-direction: column;
}

#root {
  @include flex-y;

  height: 100%;
  max-height: 100%;
  background-color: $col-blue-100;
}

#conn-info {
  background-color: $col-blue-200;
  /* min-height: 48px;*/
  padding-top: 8px;
  padding-bottom: 8px;

  @include flex-x;

  justify-content: center;
  align-items: center;
}

#tabs {
  background-color: $col-blue-300;
  min-height: 32px;

  @include flex-x;

  justify-content: flex-start;
  align-items: center;
}

#dbview {
  @include flex-x;

  background-color: $col-blue-400;
  height: 100%;
}

#sidebar {
  min-width: 200px;
  background-color: $col-blue-500;
}

#content {
  background-color: $col-blue-600;

  @include flex-y;
  
  flex-grow: 2;
}

.in-tabs {
  background-color: white;
  color: blue;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 8px;
}

.hi-1 {
  background-color: white;
  color: blue;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.hi-2 {
  background-color: lightcyan;
  color: darkcyan;

  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

#query {
  background-color: $col-blue-700;
  min-height: 100px;
  display: flex;
}

#actions {
  background-color: $col-blue-800;
  min-height: 48px;
  
  @include flex-x;

  align-items: center;
}

#results {
  background-color: $col-blue-100;
  flex-grow: 2;
}

#results-inner {
  @include flex-x;
  flex-wrap: nowrap;
  background-color: $col-blue-200;
  overflow: scroll;
}

#results-col {
  background-color: $col-blue-a400;
  padding-left: 4px;
  padding-right: 4px;
}

#results-nav {
  background-color: $col-blue-a100;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

#query-text {
  flex-grow: 2;
}

#results-table {
  overflow: scroll;
}
