{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "jsx": true
    },
    "rules": {
        "semi": 2
    },
	"env": {
		"browser": true,
		"jquery": true,
		"es6": true
	}
}