.DS_Store
.vs/
bin
tmp/
cover.out
ansible/*.zip
s/js/bundle.js
s/js/bundle.js.map
s/dist
data/*.sql
node_modules
cmd/import_stack_overflow/data/
cmd/import_stack_overflow/import_stack_overflow
mac/dbHero.xcodeproj/xcuserdata/
xcuserdata
mac/build/
obj/
packages/
cert.pfx
website/website_linux
website/website
website/website.exe
resources.go
dbherohelper.zip
dbherohelper
dbherohelper.exe
dbherohelper.exe~
dbhero.exe
nuget.exe
scripts/secrets.json
*.csproj.user
tmp_data
