.DS_Store
.vs/
.vscode/
bin
tmp/
cover.out
ansible/*.zip
s/js/bundle.js
s/js/bundle.js.map
s/dist
data/*.sql
node_modules
cmd/import_stack_overflow/data/
cmd/import_stack_overflow/import_stack_overflow
mac/dbHero.xcodeproj/xcuserdata/
xcuserdata
mac/build/
mac/dbherohelper.exe
obj/
packages/
cert.pfx
website/website_linux
website/website
website/website.exe
resources.go
dbherohelper.zip
dbherohelper
dbhero.exe
scripts/secrets.json
win/dbhero/dbherohelper.exe
win/dbhero/dbherohelper.exe~
dbherohelper.exe
*.csproj.user
tmp_data
