/* Text Color: #5B5C59 */
/* Blue      : #377CE4 */

html {
    height:100%;
}

body {
   font-family: "Open Sans", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

#main {
}

#nav {
  position: relative;
  right: 0;
  height: 50px;
  width: inherit;
  box-shadow: inset 0 -1px 0 0 #b8b7b5;
  background: #efefef;
}

#nav u {
  text-decoration: none;
  border-bottom: 1px solid;
  border-width: 2px;
}

#nav ul {
  margin: 0px;
  padding: 0px;
  height: 50px;
  display: block;
}

#nav ul li {
  float: left;
  height: 50px;
  line-height: 50px;
  font-size: 12px;
  padding: 0px 22px;
  color: #6c6b6b;
  font-weight: 500;
  margin: 0 1px;
  cursor: pointer;
  display: block;
  list-style: none;
  list-style-type: none;
  color: #555B6B;
}

#nav ul li:first-child {
  margin-left: 0px;
}

#nav ul li:hover {
  opacity: 0.8;
}

#nav ul li.selected {
  position: relative;
  color:#4092F1;
  font-weight:700;
  /*border-right: 1px solid #b8b7b5;
  border-left: 1px solid #b8b7b5;*/
  margin: 0;
}

#nav ul li.selected:before {
  content: ' ';
  position: relative;
  bottom: -1px;
  left: 0; right: 0;
  height: 1px;
  widows: 100%;
  background: #fff;
}

#nav ul li.selected:first-child {
  border-left: none;
}

#edit_connection {
  background-color: #ffffff;
  color: #6c6b6b;
  border-width: 1px;
  border-color: #cacaca;
  position: fixed;
  right: 12px;
  top: 13px;
}

#edit_connection:hover {
  opacity: 0.8;
}

#edit_connection i {
  margin-right: 4px;
}

/*******************************************************/
/* Sidebar */

#sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-right: 1px solid #e1e2e3;
  background-color: #fff;
}

#sidebar .title {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 50px;
  height: 50px;
  padding: 0px 8px;
  padding-left: 15px;
  color: #efefef;
  font-size: 14px;
  background-color: #377CE4;
  margin-left: auto;
  margin-right: auto;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  /*overflow: hidden;*/
  /* background: #31373d; */
}

#sidebar div.tables-list {
  right: 0;
  top: 0px;
  left: 0px;
  bottom: 130px;
  overflow: auto;
  /* background: #31373d; */
}

#sidebar div.tables-list .wrap {
  height: 100%;
  overflow: auto;
}

#sidebar div.tables-list .title span.current-database {
  color: #ffffff;
  margin-left: 10px;
}

#sidebar span.current-table-information {
  color: #ffffff;
  margin-left: 10px;
}

#sidebar div.tables-list .title div.dropdown-menu {
  display: block;
  position: absolute;
  background-color: #00ff00;
  padding: 0px;
  top: 0px;
  left:0;
  right:0;
  margin: 0px;
  min-width: 0px;
}

#sidebar div.tables-list .title div.dropdown-menu div.dropdown-cursor {
  position: absolute;
  display: block;
  margin-top: 13px;
  margin-right: 15px;
  cursor: pointer;
  padding: 4px;
  padding-right: 8px;
  color: #ffffff;
  top: 0px;
  left:0;
  right:0;
  left: auto;
  right: 0px;
  overflow: visible;
}

#sidebar div.tables-list .title div.dropdown-menu div.dropdown-cursor:hover + div.dropdown-window {
  display: block;
  /*opacity: 0.8;*/
  color: #ffffff;
}

#sidebar div.tables-list .title div.dropdown-menu div.dropdown-window {
  display: none;
  position: absolute;
  background-color: #efefef;
  top: 30px;
  right: 15px;
  height: 140px;
  bottom: 0px;
  width: 150px;
  color: #0000ff;
  line-height: 25px;
}

#sidebar div.tables-list .title div.dropdown-menu div.dropdown-window:hover {
  display: block;
}

#sidebar div.tables-list .title div.dropdown-menu div.dropdown-window div.dropdown-element {
  /*display: none;*/
  /*position: absolute;*/
  background-color: #f0ff0f;
  padding: 10px;
}

#sidebar div.tables-list .title div.dropdown-menu div.dropdown-window div.blank-line {
  border: 1px solid;
  margin-left: 15px;
  margin-right: 15px;
  color: #9a9a9a;
  background-color: #ffffff;
}

#sidebar div.tables-list #tables {
  padding: 50px 0 0;
  font-size: 12px;
}

#sidebar div.table-information {
  position: fixed;
  width: inherit;
  left: 0px;
  height: 135px;
  bottom: 0px;
  /* background: #272c30; */
}

#sidebar div.table-information .wrap {
  height: 100%;
  overflow-y: auto;
}

#sidebar div.table-information .title {
  position: absolute;
  width: 100%;
  line-height: 33px;
  height: 33px;
  padding: 0px 8px;
  padding-left: 15px;
  color: #efefef;;
  font-size: 14px;
  background-color: #377CE4;
  margin-left: auto;
  margin-right: auto;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  overflow: hidden;
  /*background: #272c30;*/
}

#sidebar div.table-information ul {
  padding: 33px 0 0;
}

#sidebar div.table-information ul li {
  line-height: 24px;
  height: 24px;
  margin: 0px;
  padding: 0 8px 0 12px;
  font-size: 12px;
  cursor: default;
  color: #5B5C59 !important;
}

#sidebar div.table-information ul li span {
  color: #5B5C59;
  min-width: 0;
  padding-left: 0px;
}

#sidebar div.table-information ul li span.table-info-light {
    color: #5B5C59;
}

#sidebar ul {
  margin: 0px;
  padding: 0px;
}

#sidebar ul li {
  list-style: none;
  list-style-type: none;
  padding: 3px;
  margin: 0px;
  cursor: pointer;
  font-size: 12px;
  color: #5B5C59;
  line-height: 25px;
  white-space: nowrap;
}

#sidebar ul li.active,
#sidebar ul li.selected {
  /*background: #272c30;*/
  color: #fff !important;
  background: #377CE4;
  color: black;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

#sidebar ul li:not(.selected):hover {
  background: #377CE4;
  color: #ffffff;
  opacity: 0.8;
}

#sidebar ul li:not(.selected):hover .fa-table {
  color: #efefef;
  opacity: 0.8;
}

#sidebar ul li i {
  margin-right: 4px;
}

#sidebar ul li span {
  padding: 0px 8px 0 12px;
  display: inline-block;
  width: auto;
  min-width: 100%;
}

#side-dragbar {
  position: absolute;
  /*background-color: red;*/
  min-height: 100%;
  /*float: right;*/
  width: 3px;
  cursor: col-resize;
  z-index: 1000;
}

.fa-info
.fa-database {
  color: #efefef;
}

#sidebar ul li .fa-table {
  color: #377CE4;
}

#sidebar ul li.selected .fa-table {
  color: #fff;
}

h4.modal-title {
  margin-top: -10px;
  text-align: left;
  margin-left: 10px;
}

/* Will be used for query dragbar
#query-dragbar {
  position: relative;
  background-color: red;
  min-width: 100%;
  float: none;

  height: 20px;
  cursor: row-resize;
  z-index: 1000;
} */

/*******************************************************/

#body {
  left: 250px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

#input {
  height: 255px;
  overflow: hidden;
}

#input .wrapper {
  position: relative;
}

#input .actions {
  background: #fff;
  padding: 10px;
  height: 50px;
  border-top: solid 1px #e1e2e3;
  border-bottom: solid 1px #e1e2e3;
}

#input .actions .btn {
  line-height: 30px;
  height: 30px;
  padding: 0px 13px;
  margin: 0px;
  font-size: 12px;
  color: #fff;
  border: none;
  box-shadow: none;
  background: #1856b4;
  float: left;
  margin-right: 10px;
}

#input .actions .btn-default {
  background: #aaa;
}

#input .actions #query_progress {
  display: none;
  float: left;
  line-height: 30px;
  height: 30px;
  color: #aaa;
}

#input .actions .btn:focus {
  outline: 0 none;
  box-shadow: 0;
}

#input .actions .btn:hover {
  opacity: 0.8;
}

#input .actions .btn-default:hover {
  opacity: 0.8;
}

#output {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#output.full {
  top: 0px;
}

#results {
  font-size: 11px;
  margin: 0px;
  padding: 0px;
}

#results.empty td {
  border: 0px none;
  font-size:12px;
  color:#4A4A4A;
  line-height:21px;
}

#results td {
  border: 0px none;
  font-size: 12px;
  color: #4A4A4A;
  line-height: 12px;
}

#results tr {
  border: none;

}

#results tr:nth-child(even) > td {
  background:#ECF0F1;
}

#results tr:nth-child(odd) > td {
  background: #fff;
}

#results th {
  font-size:12px;
  font-weight:700;
  background:#4592EA;
  border-top: none;
  padding: 3px 9px;
  line-height: 24px;
  color: #fefefe;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

#results tbody tr:hover td {
  background: #c5e2fc;
  opacity: 0.8;
}

/*#results tr.selected td {
  background: #3874d7 !important;
  color: #fff !important;
}*/

#results td {
  color: #5B5C59;
  vertical-align: middle;
  border: 0px none;
}

#results td div {
  max-width: 350px;
  max-height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;

  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  */
}

#results td div span.null {
  color: #bbb;
  text-transform: uppercase;
}

#results td textarea {
  color: #5B5C59 !important;
  font-size: 12px;
}

#results th:first-child,
#results td:first-child {
  padding-left: 15px;
}

#results.no-crop td div {
  max-width: none;
}

#custom_query {
  height: 205px;
}

.overlay {
  position: fixed;
  overflow: auto;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 900;
  background-color: rgba(255,255,255,1);
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.button--close {
  font-size: 32px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
}


.overlay-dialog--signin {
  max-width: 620px;
}

.overlay-dialog--signin, .overlay-dialog--alert, .overlay-dialog--confirm {
  text-align: center;
}

.overlay-dialog {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  overflow: hidden;
  max-width: 580px;
  padding: 100px 80px;
}

.fa-plus {
  color: LightGray;
}

.fa-times {
  color: LightGray;
}

/*******************************************************/
/* Connection Window */

#connection_window {
  z-index: 3;
  position: absolute;
  background: #ebeef0;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-image:"linear-gradient(-135deg, #F5F5F5 0%, #F5F5F5 100%)";
}

#connection_window h1 {
  text-align: center;
  margin-top: 20px;
  font-size:50px;
  color:#4092F1;
  line-height:60px;
}

#connection_window h3 {
  text-align: center;
  margin-top: 25px;
  font-size:30px;
  color:#9a9a9a;
  line-height:36px;
}

#connection_window div.connection-window-footer {
  text-align: center;
  font-size: 13px;
  color: #587CA7;
}

#connection_window i.fa.fa-lock {
  color:#517FA4;
  margin-right: 5px;
}


.connection-settings {
  margin: 0px auto;
  margin-top: 20px;
}

#close_connection_window {
  display: none;
}

#connection_error {
}

.bookmarks {
  display: none;
}

.container.small {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.container.small h6 {
  margin-left: 10px;
}

.form-group.center {
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
}

.connection-settings div.container {
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.connection-settings form p.help-block {
  font-size: 12px;
}

.connection-settings label.control-label {
  color:#517FA4;
}

.connection-settings input {
  font-size:16px;
  color:#4A4A4A;
  line-height:19px;
  border:"1px solid #517FA4";
  border-radius:5px;
}

.connection-settings button:hover {
  background:#2082F1;
}

.connection-settings button {
  background:#4092F1;
  border-radius:5px;
  border-width: 0;
}

.list-special .list-group-item {
  border: 0px;
  font-size:14px;
  color:#9a9a9a;
  line-height:22px;
}

.list-group-item.active {
  border-radius: 5px;
  background-color: #c5e2fc !important;
  font-size:15px;
  color: #6EACE3;
}

.list-special .list-group-item:hover {
  /*background-color: #c5e2fc;*/
  color: #6EACE3;
}

.list-special .list-group-item.title:select
.list-special .list-group-item.title:hover
.list-special .list-group-item.title {
  font-size:18px;
  color:#517FA4;
  line-height:22px;
}

.connection-settings hr {
  margin-top: 2px;
  margin-bottom: 10px;
}

#small-img {
  width: 220px;
  margin-top: 20px;
}



/*******************************************************/
/* AlertBar */

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fd8053;
    color: #fff;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-40px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-40px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-40px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-40px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
  display: none;
}