.theme-light-color { background-color: #3C2A3B; }
.theme-lighter-color { background-color: #958994; }
.theme-dark-color { background-color: #261C26; }
.theme-light-brown { background-color: #6B5F6B; }

.theme-active-icon-color { background-color: #A4CDBD; }
.theme-light-active-color { background-color: #2E8679; }
.theme-active-color { background-color: #3E8676: }
.theme-hover-active-color { background-color: #2F242E; }

.theme-text-black-color { background-color: #212224; }

html {
    height:100%;
}

#main {
}

#nav {
  position: relative;
  right: 0;
  height:40px;
  width: inherit;
  box-shadow: inset 0 -1px 0 0 #b8b7b5;
  background: #ffffff;
}

#nav ul {
  margin: 0px;
  padding: 0px;
  height: 40px;
  display: block;
}

#nav ul li {
  margin: 0px;
  padding: 0px;
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 13px;
  padding: 0px 14px;
  color: #6c6b6b;
  font-weight: 500;
  margin: 0 1px;
  cursor: pointer;
  display: block;
  list-style: none;
  list-style-type: none;
}

#nav ul li:first-child {
  margin-left: 0px;
}

#nav ul li:hover {
  color: rgba(0,0,0,0.9);
}

#nav ul li.selected {
  position: relative;
  background: #eeeeee;
  color: #6a6a6a;
  border-right: 1px solid #b8b7b5;
  border-left: 1px solid #b8b7b5;
  margin: 0;
}

#nav ul li.selected:before {
  content: ' ';
  position: relative;
  bottom: -1px;
  left: 0; right: 0;
  height: 1px;
  widows: 100%;
  background: #fff;
}

#nav ul li.selected:first-child {
  border-left: none;
}

#edit_connection {
  background-color: #ffffff;
  color: #6c6b6b;
  border-width: 1px;
  border-color: #cacaca;
  position: fixed;
  right: 10px;
  top: 7px;
}

#edit_connection:hover {
  background: #bbb;
  color: #ffffff;
}

#edit_connection i {
  margin-right: 4px;
}

/*******************************************************/
/* Sidebar */

#sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  border-right: 1px solid black;
  background-color: #3C2A3B;
}

#sidebar .title {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 33px;
  height: 33px;
  padding: 0px 8px;
  padding-left: 12px;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  overflow: hidden;
  /* background: #31373d; */
}

#sidebar div.tables-list {
  position: relative;
  right: 0;
  top: 0px;
  left: 0px;
  bottom: 130px;
  overflow: auto;
  /* background: #31373d; */
}

#sidebar div.tables-list .wrap {
  height: 100%;
  overflow: auto;
}

#sidebar div.tables-list .title span.current-database {
  color: #ffffff;
  margin-left: 10px;
}

#sidebar span.current-table-information {
  color: #ffffff;
  margin-left: 10px;
}

#sidebar div.tables-list .title:hover span.refresh {
  display: inline-block;
}

#sidebar div.tables-list .title span.refresh {
  float: right;
  margin-right: 4px;
  cursor: pointer;
  color: #6B5F6B;
}

#sidebar div.tables-list .title span.refresh:hover {
  color: #ffffff;
}

#sidebar div.tables-list #tables {
  padding: 33px 0 0;
  font-size: 13px;
}

#sidebar div.table-information {
  position: fixed;
  width: inherit;
  left: 0px;
  height: 130px;
  bottom: 0px;
  /* background: #272c30; */
}

#sidebar div.table-information .wrap {
  height: 100%;
  overflow-y: auto;
}
/*
#sidebar div.table-information .title {
  background: #272c30;
}*/

#sidebar div.table-information ul {
  padding: 33px 0 0;
  font-size: 12px;
}

#sidebar div.table-information ul li {
  line-height: 24px;
  height: 24px;
  padding: 0 8px 0 12px;
  cursor: default;
  color: #637D94 !important;
}

#sidebar div.table-information ul li span {
  color: #ffffff;
  min-width: 0;
  padding-left: 0px;
}

#sidebar div.table-information ul li span.table-info-light {
    color: #958994;
}

#sidebar ul {
  margin: 0px;
  padding: 0px;
}

#sidebar ul li {
  list-style: none;
  list-style-type: none;
  /* line-height: 1.2em; */
  padding: 0px;
  margin: 0px;
  cursor: pointer;
   color: #ffffff !important;
  color: black;
  white-space: nowrap;
}

#sidebar ul li.active,
#sidebar ul li.selected {
  /*background: #272c30;
  color: #fff !important;*/
  background: #3E8676;
  color: black;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

#sidebar ul li:not(.selected):hover {
  background: #2F242E;
}

#sidebar ul li i {
  margin-right: 4px;
}

#sidebar ul li span {
  padding: 0px 8px 0 12px;
  display: inline-block;
  width: auto;
  min-width: 100%;
}

#dragbar{
   position: absolute;
   /*background-color: red;*/
   min-height:100%;
   /*float: right;*/
   width: 3px;
   cursor: col-resize;
   z-index: 1000;
}

/*******************************************************/

#body {
  position: relative;
  top: 0px;
  left: 250px;
  bottom: 0px;
  right: 0px;
  height: fill;
  overflow: auto;
}

#input {
  height: 255px;
  overflow: hidden;
}

#input .wrapper {
  position: relative;
}

#input .actions {
  background: #fff;
  padding: 10px;
  height: 50px;
  border-top: solid 1px #e1e2e3;
  border-bottom: solid 1px #b8b7b5;
}

#input .actions .btn {
  line-height: 30px;
  height: 30px;
  padding: 0px 13px;
  margin: 0px;
  font-size: 13px;
  color: #fff;
  border: none;
  box-shadow: none;
  background: #48AA78;
  float: left;
  margin-right: 10px;
}

#input .actions .btn-default {
  background: #aaa;
}

#input .actions #query_progress {
  display: none;
  float: left;
  line-height: 30px;
  height: 30px;
  color: #aaa;
}

#input .actions .btn:focus {
  outline: 0 none;
  box-shadow: 0;
}

#input .actions .btn:hover {
  background: #40A070;
}

#input .actions .btn-default:hover {
  background: #bbb;
}

#output {
  position: relative;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}

#output.full {
  top: 0px;
}

#results {
  font-size: 11px;
  margin: 0px;
  padding: 0px;
}

#results.empty td {
  border: 0px none;
}

#results tr:nth-child(even) > td {
  border: none;
  background: #f0f0f0;
}

#results tr:nth-child(odd) > td {
  border: none;
  background: #fff;
}

#results th {
  /*font-weight: bold;*/
  background: #eeeeee;
  border-top: none;
  border-bottom: 1px solid #eae9e9;
  padding: 3px 9px;
  line-height: 24px;
  color: #6a6a6a;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}

#results tbody tr:hover td {
  background: #ffe;
}

#results tr.selected td {
  background: #3874d7 !important;
  color: #fff !important;
}

#results td {
  color: #212224;
  vertical-align: middle;
  border: 0px none;
}

#results td div {
  max-width: 350px;
  max-height: 51px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;

  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  */
}

#results td div span.null {
  color: #bbb;
  text-transform: uppercase;
}

#results td textarea {
  color: #212224 !important;
  font-size: 12px;
}

#results th:first-child,
#results td:first-child {
  padding-left: 15px;
}

#results.no-crop td div {
  max-width: none;
}

#custom_query {
  height: 205px;
}

.overlay {
  position: fixed;
  overflow: auto;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
  z-index: 900;
  background-color: rgba(255,255,255,0.97);
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.button--close {
  font-size: 32px;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  right: 0;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
  letter-spacing: -0.02em;
  font-weight: 300;
  font-style: normal;
}


.overlay-dialog--signin {
  max-width: 620px;
}

.overlay-dialog--signin, .overlay-dialog--alert, .overlay-dialog--confirm {
  text-align: center;
}

.overlay-dialog {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  overflow: hidden;
  max-width: 580px;
  padding: 100px 80px;
}

.fa-info
.fa-database {
  color: #6B5F6B;
}

.fa-plus {
  color: LightGray;
}

.fa-times {
  color: LightGray;
}

.fa-table {
  color: #958994;
}
li.selected .fa-table {
  color: #A4CDBD;
}

/*******************************************************/
/* Connection Window */

#connection_window {
  z-index: 3;
  position: absolute;
  background: #ebeef0;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#connection_window h1 {
  text-align: center;
  text-shadow: 0px 1px 0px #fff;
  margin-bottom: 25px;
  color: #95A7B7;
  font-weight: normal;
}

#close_connection_window {
  display: none;
}

#connection_error {
}

.bookmarks {
  display: none;
}
/*
.connection-settings {
  width: 600px;
  margin: 0px auto;
  margin-top: 50px;
}*/

.container.small {
  max-width: 60%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 5px;
  padding-right: 5px;
}

.container.small h6 {
  margin-left: 10px;
}

.form-group.center {
  text-align: center; /* center checkbox horizontally */
  vertical-align: middle; /* center checkbox vertically */
}

.btn.small {
  min-width: 100%;
}

hr {
  margin: 5px;
}

.list-group-item.active {
  border-radius: 5px;
  background-color: #758797 !important;
}

.connection-settings div.container {
  background: #fff;
  padding: 10px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

.connection-settings form p.help-block {
  font-size: 12px;
}

.list-special .list-group-item {
  border: 0px;
}

#small-img {
  width: 220px;
  margin-top: 20px;
}

/*******************************************************/
/* AlertBar */

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fd6043;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

@-webkit-keyframes slideDown {
    0%, 100% { -webkit-transform: translateY(-40px); }
    10%, 90% { -webkit-transform: translateY(0px); }
}
@-moz-keyframes slideDown {
    0%, 100% { -moz-transform: translateY(-40px); }
    10%, 90% { -moz-transform: translateY(0px); }
}

.cssanimations.csstransforms #note {
    -webkit-transform: translateY(-40px);
    -webkit-animation: slideDown 2.5s 1.0s 1 ease forwards;
    -moz-transform:    translateY(-40px);
    -moz-animation:    slideDown 2.5s 1.0s 1 ease forwards;
}

.cssanimations.csstransforms #close {
  display: none;
}